<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hao.finance.dao.SpliderDictionaryMapper">
  <resultMap id="BaseResultMap" type="com.hao.finance.entity.SpliderDictionary">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="sort" jdbcType="VARCHAR" property="sort" />
    <result column="z_creat_time" jdbcType="TIMESTAMP" property="zCreatTime" />
    <result column="z_update_time" jdbcType="TIMESTAMP" property="zUpdateTime" />
  </resultMap>
</mapper>