<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>页尾</title>
	
    
</head>
<body th:fragment="footer">
	<style type="text/css">
		footer{
			border-top: 3px solid #46B228;
		    background: #008742;
		    min-height: 170px;
		    color: #fff;
		}
	</style>
	<footer>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <span class="copyright">
	                   © 2009-2014 广州志一化工有限公司，All Rights Reserved. 1.8.5 粤ICP备16027663号-1 技术支持：奇正品牌设计
						本站所有图片及资料都为本公司版权所有，对于任何形式的侵犯权行为，我们保留一切法律责任的权利
                    </span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li>
	                        <a href="#"><img src="/img/footer/44.png"> </a>
	                    </li>
	                    <li>
	                        <a href="#"><img src="/img/footer/45.png"> </a>
	                    </li>
	                    <li>
	                        <a href="#"><img src="/img/footer/46.png"> </a>
	                    </li>
	                    <li>
	                        <a href="#"><img src="/img/footer/47.png"> </a>
	                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
	
</body>



</html>