<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head >
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="keywords" content="抗黄变,抗氧剂,光稳定剂,亚磷酸酯,紫外线吸收剂,PVC环保抗氧剂,无酚亚磷酸酯,无酚无味抗氧剂,抗氧剂生产厂家">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<style>
        .carousel-inner img{
            min-height: 240px;
        }
        @media(max-width:768px){
            .modual-heigth{
               padding-top: 30px;
            }
        }
        @media(min-width:768px){
            .modual-heigth{
                padding-top: 50px;
            }
        }
        .cfz_p {
            padding: 20px 0px 10px 0px;
            font-size: 24px;
        }
        .sy_xwli {
            border-bottom: 1px solid #BDC2BE;
            margin-bottom: 10px;
        }
        .sy_xw_p_1 {
            font-size: 20px;
        }
        .sy_xw_p_2 {
            font-size: 14px;
            color: #000;
            line-height: 1.8em;
        }
		.product-bg{
			background-image: url("/img/index/112.jpg");
		}
		.news-bg{
			background-image: url("/img/index/111.png");
		}
		.svg-text {
                  stroke: #fff;
                  stroke-width: 1;
                  font-size: 35px;
                  text-anchor: middle;  /* 文本水平居中 */
                  dominant-baseline: middle; /* 文本垂直居中 */
            }
    </style>
</head>
<body >
    <!--头部代码 参数则为活跃选项卡-->
    <div th:replace="pages/appearance/head::header(1)" ></div>

	<!-- 轮播图 -->
    <header id="myCarousel" class="carousel slide" >
        <!-- Indicators -->
       <!--  <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol> -->
        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img  src="http://www.zhiyi-chem.com/uploadfile/2017/0503/20170503014450322.jpg" />
            </div>
            <div class="item">
                <img src="http://www.zhiyi-chem.com/uploadfile/2017/0511/20170511044225909.jpg" />
            </div>
            <div class="item">
                <img src="http://www.zhiyi-chem.com/uploadfile/2017/0711/20170711061324881.jpg" />
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
    <!-- 新闻中心和关于-->
    <div class="news-bg modual-heigth">
	    <div class="container " >
	        <div class="row">
	            <!-- 关于-->
	            <div class="col-md-6 m-b-30">
	                <img class="m-b-30" src="http://www.zhiyi-chem.com/statics/images/zy/sy/3.png" width="100%" />
	                <img src="http://www.zhiyi-chem.com/statics/images/zy/sy/444.jpg" width="100%" />
	                <div>
	                    <p class="main-color cfz_p text-center" > 稳定剂化学领域中的创新者 </p>
	                    <div >
	                        <p style="text-align: justify; line-height: 1.8em; font-size: 16px;"><span style="">广州志一化工有限公司从2001年5月开始经营抗氧化剂、紫外线吸收剂，于2006年开始在山东淄博、广东南雄建立自己的抗氧化剂生产基地。目前产品销往高分子聚合、及其下游应用领域，以及需要这些产品特殊性能的其他领域。多年以来，志一化工在高性能抗氧剂和光稳定剂技术方面一直处于领先地位。今天，我们通过提供全面解决方案以继续满足全球聚合物添加剂市场……</span></p>
	                    </div>
	                </div>
	                <div class="text-center">
	                    <a href="javascript:;">
	                        <img src="http://www.zhiyi-chem.com/statics/images/zy/sy/10.png"  style="padding-top: 35px;">
	                    </a>
	                </div>
	            </div>
	
	            <div class="col-md-6 m-b-30">
	                <img class="m-b-30" src="http://www.zhiyi-chem.com/statics/images/zy/sy/222.png" width="100%"/>
	                <!-- 新闻列表 -->
	                <ul >
	                    <li class="sy_xwli">
	                        <a href="javascript:;">
	                            <div class="row" >
	                                <div class="col-md-4">
	                                    <img src="http://www.zhiyi-chem.com/uploadfile/2016/1210/20161210020426300.jpg" width="100%" />
	                                </div>
	                                <div class="col-md-8">
	                                    <div class="sy_xw_div_2">
	                                        <p class="sy_xw_p_1">南雄志一精化举行应急救援演练</p>
	                                        <p class="sy_xw_p_2 line-clamp1">2011年7月8日上午，南雄市安监局、市消防大队联合园区消防应急救援中心在志一精细化工有限公司进行了一次消防演练，此次演练提高了我厂员工应对突发事件的处置能力。</p>
	                                    </div>
	                                </div>
	                            </div>
	                        </a>
	                    </li>
	                </ul>
	            </div>
	
	
	        </div>
	    </div>
    </div>
    <div class="product-bg">
		<div class="container modual-heigth ">
			<div class="row">
				<!--产品中心-->
				<div class="col-md-12">
					<div class="text-center">
						<img src="http://www.zhiyi-chem.com/statics/images/zy/sy/20.png" >
					</div>
					<div >
						<svg id="sketchpad" style="width: 100%;" preserveAspectRatio="xMinYMin meet" viewBox="0,0,1600,693">
						    <defs>
						        <pattern id="img1" patternUnits="userSpaceOnUse" width="400" height="346" x="0" y="173">
						            <image xlink:href="http://www.zhiyi-chem.com/uploadfile/2016/1210/20161210020426300.jpg"  width="400" height="346" />
						        	<g fill-opacity="0.5">
						        		<rect width="400" height="346" fill="#009900" />
						        		<text  x="200" y="173"  class="svg-text">受阻酚抗氧剂</text>
						        	</g>
						        </pattern>
						        <pattern id="img2" patternUnits="userSpaceOnUse" width="400" height="346" x="300" y="346">
						            <image xlink:href="http://www.zhiyi-chem.com/uploadfile/2016/1210/20161210020426300.jpg"  width="400" height="346" />
						        	<g fill-opacity="0.5">
						        		<rect width="400" height="346" fill="#009900" />
						        		<text  x="200" y="173" fill="white" class="svg-text">亚磷酸酯抗氧剂</text>
						        	</g>
						        </pattern>
						        <pattern id="img3" patternUnits="userSpaceOnUse" width="400" height="346" x="300" y="0">
						            <image xlink:href="http://www.zhiyi-chem.com/uploadfile/2016/1210/20161210020426300.jpg"  width="400" height="346" />
						        	<g fill-opacity="0.5">
						        		<rect width="400" height="346" fill="#009900" />
						        		<text  x="200" y="173" fill="white" class="svg-text">紫外线吸收剂</text>
						        	</g>
						        </pattern>
						        <pattern id="img4" patternUnits="userSpaceOnUse" width="400" height="346" x="600" y="173">
						            <image xlink:href="http://www.zhiyi-chem.com/uploadfile/2016/1210/20161210020426300.jpg" width="400" height="346" />
						        	
						        </pattern>
						        <pattern id="img5" patternUnits="userSpaceOnUse" width="400" height="346" x="900" y="346">
						            <image xlink:href="http://www.zhiyi-chem.com/uploadfile/2016/1210/20161210020426300.jpg"  width="400" height="346" />
						        	<g fill-opacity="0.5">
						        		<rect width="400" height="346" fill="#009900" />
						        		<text  x="200" y="173" fill="white" class="svg-text">光稳定剂</text>
						        	</g>
						        </pattern>
						        <pattern id="img6" patternUnits="userSpaceOnUse" width="400" height="346" x="900" y="0">
						            <image xlink:href="http://www.zhiyi-chem.com/uploadfile/2016/1210/20161210020426300.jpg"  width="400" height="346" />
						        	<g fill-opacity="0.5">
						        		<rect width="400" height="346" fill="#009900" />
						        		<text  x="200" y="173" fill="white" class="svg-text">特殊助剂</text>
						        	</g>
						        </pattern>
						        <pattern id="img7" patternUnits="userSpaceOnUse" width="400" height="346" x="1200" y="173">
						            <image xlink:href="http://www.zhiyi-chem.com/uploadfile/2016/1210/20161210020426300.jpg"  width="400" height="346" />
						        	<g fill-opacity="0.5">
						        		<rect width="400" height="346" fill="#009900" />
						        		<text  x="200" y="173" fill="white" class="svg-text">阻燃剂</text>
						        	</g>
						        </pattern>
						    </defs>
						    
						    <g >
							    <!-- 第一个外置 -->
							    <polygon points="0,346 100,520 300,520 400,346 300,173 100,173"
										style="stroke:#fff;stroke-width:3;" fill-opacity="0" />
							    <!-- 内置 -->
							    <a href="javascirpt:;" class="js_hover" >
							     <polygon  points="20,346 110,503 290,503 380,346 290,190 110,190"
										style="stroke:#fff;stroke-width:5;" fill="url(#img1)"/> 
							    </a>
							    
							    <!-- 第二个外置 -->
							    <polygon points="300,520 400,693 600,693 700,520 600,346 400,346"
										style="stroke:#fff;stroke-width:3;" fill-opacity="0"/>
								 <!-- 内置 -->
								 <a href="javascirpt:;" class="js_hover" >
								     <polygon  points="320,520 410,676 590,676 680,520 590,363 410,363"
											style="stroke:#fff;stroke-width:5;" fill="url(#img2)"/> 
								 </a>
										
							    <!-- 第三个外置 -->
							    <polygon points="300,173 400,346 600,346 700,173 600,0 400,0"
										style="stroke:#fff;stroke-width:3;" fill-opacity="0"/>
								 <!-- 内置 -->
								 <a href="javascirpt:;" class="js_hover" >
								     <polygon  points="320,173 410,329 590,329 680,173 590,17 410,17"
											style="stroke:#fff;stroke-width:5;" fill="url(#img3)"/> 
							     </a>
							    <!-- 第四个外置 -->
							    <polygon points="600,346 700,520 900,520 1000,346 900,173 700,173"
										style="stroke:#fff;stroke-width:3;" fill-opacity="0"/>
							    <!-- 内置 -->
						    	<polygon class="js_hover" points="620,346 710,503 890,503 980,346 890,190 710,190"
									style="stroke:#fff;stroke-width:5;" fill="url(#img4)"/>
									
							    <!-- 第五个外置 -->
							    <polygon points="900,520 1000,693 1200,693 1300,520 1200,346 1000,346"
										style="stroke:#fff;stroke-width:3;" fill-opacity="0"/>
								<!-- 内置 -->
								<a href="javascirpt:;" class="js_hover" >
									<polygon  points="920,520 1010,676 1190,676 1280,520 1190,363 1010,363"
											style="stroke:#fff;stroke-width:5;" fill="url(#img5)"/>
							    </a>
							    <!-- 第六个外置 -->
							    <polygon points="900,173 1000,346 1200,346 1300,173 1200,0 1000,0"
										style="stroke:#fff;stroke-width:3;" fill-opacity="0"/>
							    <!-- 内置 -->
								<a href="javascirpt:;" class="js_hover" >
								    <polygon  points="920,173 1010,329 1190,329 1280,173 1190,17 1010,17"
											style="stroke:#fff;stroke-width:5;" fill="url(#img6)"/>
								</a>		
							    <!-- 第七个外置 -->
							    <polygon points="1200,346 1300,520 1500,520 1600,346 1500,173 1300,173"
										style="stroke:#fff;stroke-width:3;" fill-opacity="0"/> 
								<!-- 内置 -->
								<a href="javascirpt:;" class="js_hover" >
									<polygon points="1220,346 1310,503 1490,503 1580,346 1490,190 1310,190"
											style="stroke:#fff;stroke-width:5;" fill="url(#img7)"/>
						    	</a>
						    </g>
						</svg>
						
						
					</div>
				</div>
	
			<!--END-->
			
			</div>
		</div>
	</div>	

    <div th:replace="pages/appearance/footer::footer" ></div>
</body>


<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    });
    $(".js_hover").mouseenter(function(){
    	var ix=-1;//获取第几个
    	var _this=this;
    	$(".js_hover").each(function(i){
    		if(_this==this){
    			ix=(i+1);
    			return false;
    		}
    	});
    	$("#img"+ix).find("g").find("text").attr("visibility","hidden");
    	$("#img"+ix).find("g").attr("fill-opacity",0);
    }).mouseleave(function(){
    	var ix=-1;//获取第几个
    	var _this=this;
    	$(".js_hover").each(function(i){
    		if(_this==this){
    			ix=(i+1);
    			return false;
    		}
    	});
    	$("#img"+ix).find("g").find("text").attr("visibility","");
    	$("#img"+ix).find("g").attr("fill-opacity",0.5);
    });
    
   /*  var strArr=['0,346 100,520 300,520 400,346 300,173 100,173',
                '300,520 400,693 600,693 700,520 600,346 400,346',
                '300,173 400,346 600,346 700,173 600,0 400,0',
                '600,346 700,520 900,520 1000,346 900,173 700,173',
                '900,520 1000,693 1200,693 1300,520 1200,346 1000,346',
                '900,173 1000,346 1200,346 1300,173 1200,0 1000,0',
                '1200,346 1300,520 1500,520 1600,346 1500,173 1300,173'
                ]
    for(var six in strArr){
	    var str =strArr[six];
	    var nstr="";
	    var arr = str.split(" ");
	    var pad=20;
	    var gen=Math.pow(3,0.5)/2
	    for(var ix in arr){
	    	var xy = arr[ix].split(",");
	    	var x= xy[0]-0;
	    	var y= xy[1]-0;
	    	if(ix==0){
	    		x=(x+pad);
	    		y=y;
	    	}else if(ix==1){
	    		x=(x+pad/2);
	    		y=(y-pad*gen);
	    	}else if(ix==2){
	    		x=(x-pad/2);
	    		y=(y-pad*gen);
	    	}else if(ix==3){
	    		x=(x-pad);
	    		y=(y);
	    	}else if(ix==4){
	    		x=(x-pad/2);
	    		y=(y+pad*gen);
	    	}else if(ix==5){
	    		x=(x+pad/2);
	    		y=(y+pad*gen);
	    	}
	    	x=x.toFixed(0);
	    	y=y.toFixed(0);
	    	nstr+=(x+","+y+" ");
	    }
	    console.log(nstr);
    	
    } */
</script>
</html>