<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hao.time.dao.TimeBpOperateMapper">
  <resultMap id="BaseResultMap" type="com.hao.time.entity.TimeBpOperate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="time_bp_id" jdbcType="VARCHAR" property="timeBpId" />
  </resultMap>
</mapper>