<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>页脚</title>
</head>
<body th:fragment="footer">
    <div class="erjidaol">
        <div class="kd_dw ">
            <ul id="navv">
                <li class="navv_1">
                    <div class="navv_1_aa">
                        <a  href="javascript:;"> 关于志一 </a>
                    </div>
                    <ul class="fffsdwdf hjkl1">
                        <li class="fsfaew_aa">
                            <a href="javascript:;"> 志一简介</a>
                        </li>
                        <li class="fsfaew_aa">
                            <a href="javascript:;"> 志一荣誉</a>
                        </li>
                        <li class="fsfaew_aa">
                            <a href="javascript:;"> 志一文化</a>
                        </li>
                        <li class="fsfaew_aa">
                            <a href="javascript:;"> 志一风采</a>
                        </li>
                    </ul>
                </li>

                <li class="navv_1">
                    <div class="navv_1_aa">
                        <a  href="javascript:;">产品介绍</a>
                    </div>
                    <ul class="fffsdwdf hjkl1">
                        <li class="fsfaew_aa">
                            <a href="javascript:;"> 产品介绍</a>
                        </li>
                    </ul>
                </li>

                <li class="navv_1">
                    <div class="navv_1_aa">
                        <a  href="javascript:;">新闻中心</a>
                    </div>
                    <ul class="fffsdwdf hjkl1">
                        <li class="fsfaew_aa">
                            <a href="javascript:;"> 企业动态</a>
                        </li>
                        <li class="fsfaew_aa">
                            <a href="javascript:;"> 行业信息</a>
                        </li>
                    </ul>
                </li>

                <li class="navv_1">
                    <div class="navv_1_aa">
                        <a  href="javascript:;">技术交流</a>
                    </div>
                    <ul class="fffsdwdf hjkl1">
                        <li class="fsfaew_aa">
                            <a href="javascript:;"> 专业知识</a>
                        </li>
                        <li class="fsfaew_aa">
                            <a href="javascript:;"> 新品介绍</a>
                        </li>
                    </ul>
                </li>

                <li class="navv_1">
                    <div class="navv_1_aa">
                        <a  href="javascript:;">联系我们</a>
                    </div>
                    <ul class="fffsdwdf hjkl1">
                        <li class="fsfaew_aa">
                            <a href=""> 联系我们</a>
                        </li>
                    </ul>
                </li>
                <li id="daohlbs" class="navv_1" style="padding-right: 0px;">
                    <div class="navv_1_aa">
                        <a  href="javascript:;">友情链接</a>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <div class="footer">
        <div class="kd_dw ">
            <div class="db_xx ">
                <p class="db_xx1">© 2009-2014 广州志一化工有限公司，All Rights Reserved. 1.8.5
                    <a href="javascript:;" target="_blank">粤ICP备16027663号-1</a> 技术支持：
                    <a target="_blank" href="javascript:;">奇正品牌设计</a>
                </p>
                <p class="db_xx2">本站所有图片及资料都为本公司版权所有，对于任何形式的侵犯权行为，我们保留一切法律责任的权利</p>
            </div>

            <div class="db_xx_1 ">
                <ul>
                    <li>
                        <a href="#"><img src="/img/footer/44.png"> </a>
                    </li>
                    <li>
                        <a href="#"><img src="/img/footer/45.png"> </a>
                    </li>
                    <li>
                        <a href="#"><img src="http://www.zhiyi-chem.com/statics/images/zy/sy/46.png"> </a>
                    </li>
                    <li>
                        <a href="#"><img src="http://www.zhiyi-chem.com/statics/images/zy/sy/47.png"> </a>
                    </li>
                </ul>
            </div>

        </div>

    </div>

</body>
</html>