<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>页头</title>

</head>
<body th:fragment="header(index)">
    <link href="/css/system.css" rel="stylesheet" type="text/css" />
    <div class="nav-content-wrapper" >
        <div class="nav-content grid-width">

        </div>
    </div>
    <div class="main-loading">
        <div class="loading-container">
            <div class="loading-fill"></div>
            <div class="loading-mask"></div>
            <div class="loading-wait">Loading...</div>
        </div>
    </div>

    <div id="header" class="kd_dw">
        <div class="logo">
            <a href="javascript:;">
                <img border="0" src="/img/header/logo.png" alt="" title="">
            </a>
        </div>

        <div class="navigation">
            <div class="head-warp">
                <div class="head">
                    <div class="nav-box">
                        <ul>
                            <li class="cur">
                                <a href="javascript:;">首页</a>
                            </li>
                            <li class="fenge"> </li>
                            <li>
                                <a  href="javascript:;">关于志一</a>
                            </li>
                            <li class="fenge"> </li>
                            <li>
                                <a href="javascript:;">产品介绍</a>
                            </li>
                            <li class="fenge"> </li>
                            <li>
                                <a href="javascript:;">新闻中心</a>
                            </li>
                            <li class="fenge"> </li>
                            <li>
                                <a href="javascript:;">技术交流</a>
                            </li>
                            <li class="fenge"> </li>
                            <li>
                                <a href="javascript:;">联系我们</a>
                            </li>
                        </ul>
                        <div class="nav-line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script th:inline="javascript">
        var index = [[${index}]];
        $(".nav-box").find("li").removeClass("cur");
        $(".nav-box").find("li").not(".fenge").eq(index-1).addClass("cur");
    </script>
    <script type="text/javascript" src="/js/project/main.js"></script>

</body>



</html>