<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hao.user.dao.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.hao.common.entity.user.SysRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="is_enable" jdbcType="CHAR" property="isEnable" />
      <result column="created_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  <select id="getRoleByUserId" resultMap="BaseResultMap">
  	SELECT r.* FROM sys_user u
	INNER JOIN sys_user_roles sur ON u.id=sur.sys_user_id
	INNER JOIN sys_role r ON sur.roles_id=r.id
	WHERE u.id=#{userId} AND u.is_enable='Y' AND r.is_enable='Y'
  </select>
  
  <select id="getMaxCode" resultType="map">
  	 SELECT CONCAT('AUTH_',MAX(CAST(SUBSTR(sr.code,6) AS SIGNED )+1)) lastNum FROM sys_role sr
  </select>
  
</mapper>